@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";

}
<header id="header">
    <div class="top-bar">
        <!--   <div class="srch">
        <button><i class="fa fa-search"></i></button>
        <input type="text" />
    </div>-->
        <!-- <div class=" country"> <a href="#"><span class="caret"></span> English </a>
    <img src="~/Content/external/images/en-flag.PNG" alt=""> </div>-->
        <ul class="top-lnks">
            <li>
                <a href="/Account/Login"> <i class="fa fa-lock"></i><span> تسجيل الدخول </span></a>
            </li>
            <li>
                <a href="/Account/SignUp"> <i class="fa fa-user"></i> <span> سجل الآن </span></a>
            </li>

        </ul>

        <ul class="top-lnks" style="float:left">

            <li>
                <span style="color:white">عدد الزوار</span>

                <img class="statcounter"
                     src="https://c.statcounter.com/12223126/0/007b2c17/0/"
                     alt="web stats" style=" max-width: inherit; /* max-height: 10px; */ min-height: inherit; padding-right: 10px; ">
            </li>


        </ul>
        <!-- <div class="welcom-Usr"><span>مرحبا بالزائر الكريم :</span><h2> محمد على محمود</h2></div> -->
        <div class="clearfix"> </div>
    </div>
    <div class="scnd-bar" data-spy="affix" data-offset-top="42">
        <a class="logo" href="/"><img src="~/Content/external/images/AmtarF.jpg" alt="" /></a>
        <a class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <i class="fa fa-list"></i> </a>
        <nav class="navbar">
            <div class="collapse navbar-collapse pn" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/"><i class="fa fa-home"></i> الرئيسية</a></li>
                    <li class="active"> <a href="/about">  عن أمتار</a> </li>
                    <li><a href="howto"> كيف تستفيد عبر أمتار  <span class="other-lang"></span></a></li>
                    <li ><a href="Locations"> الموقع والمكان  </a></li>
                    <li><a href="contact-us"> اتصل بنا </a></li>
                </ul>
            </div>
        </nav>

        <div class="clearfix"> </div>
    </div>
</header>
<!-- Slider -->
<!-- Slider -->
<div class="flat-sliders-container">
    <div class="tp-banner-container" >
        <div class="tp-banner">
            <ul>
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="~/Content/external/images/headerF9.jpg" alt="slider-image" />
                    <div class="tp-caption sfr description-slider" style="top: 100.603px;" data-x="center" data-y="center" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut"><span class="other-lang">أمتار للمساحة والتخطيط</span>  </div>
                    @*<a href="#" class="tp-caption sfr more" style="top: 100.603px;" data-x="center" data-y="265" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">  <i class="fa fa-angle-left"></i></a>*@

                    @*<div class="tp-caption sfl title-slide style6" data-x="center" data-y="center" data-speed="1500" top="40px" data-start="1500" data-easing="Sine.easeInOut">  أمتار للمساحة والتخطيط</div>*@
                </li>
            </ul>
        </div>
    </div>
</div>
@*<div class="inner-hdr" style="background-image:url(~/Content/external/images/headerF9.jpg);">
    <!--small-banner-->
    <div class="small-banner">
        <div class="container" >
            <!--title-->
            <div class="title" style="text-align:center">
                <h3>  أمتار للمساحة والتخطيط <span class="other-lang"></span> </h3>
            </div>
            <!--End title-->

            <ol class="breadcrumb">
                <li><a href="index.html"></a></li>
                <li class="active"> <span class="other-lang"></span>  </li>
            </ol>
        </div>
    </div>
    <!--End small-banner-->

</div>*@

<div class="inner-wrapper">


    <div class="container" style="padding: 60px;">
        <h5 class="title2"> عن أمتار  </h5>
        <p>
            ﺗﻌﻤﻞ ﺃﻣﺘﺎﺭ ﻣﻨﺬ ﺗﺄﺳﺴﺖ ﻓﻲ ﻣﺠﺎﻝ ﺍﻷﻋﻤﺎﻝ ﺍﻟﻤﺴﺎﺣﻴﺔ ﺑﺄﻧﻮﺍﻋﻬﺎ ﻣﻦ ﺗﺮﻛﻴﺰ ﺍﻷﺭﺍﺿﻲ ﻭﺍﻟﺮﻓﻮﻋﺎﺕ ﺍﻟﻤﺴﺎﺣﻴﺔ ﻭﺍﻟﺘﺨﻄﻴﻂ ﺍﻟﻌﻤﺮﺍﻧﻲ ﻭﺍﻟﻤﻴﺰﺍﻧﻴﺎﺕ ﺍﻟﺸﺒﻜـﻴﺔ ﻭﺍﻧﺘﺎﺝ ﺍﻟﺨﺮﺍﺋﻂ ﺍﻟﻄﺒﻮﻏﺮﺍﻓﻴﺔ ﻭﺍﻟﺘﻔﺼﻴﻠﻴﺔ ﻭﺃﻋﻤﺎﻝ ﺍﻟﻤﺴﺎﺣﺔ ﺍﻟﺠﻮﻳﺔ ﻭﻧﻈﻢ ﺍﻟﻤﻌﻠﻮﻣﺎﺕ ﺍﻟﺠﻐﺮﺍﻓﻴﺔ.  ﺑﺎﻹﺿﺎﻓﺔ ﺍﻟﻰ ﺃﻋـﻤﺎﻝ ﺍﻟﻤــﻴﺰﺍﻧﻴﺎﺕ ﺍﻟﺪﻗـﻴﻘﺔ ﻟﻨــــــﻘﺎﻁ ﺍﻟﺘﺤـــﻜﻢ ﻭﺗﻤﺪﻳﺪﺍﺕ  ﺑﺎﻹﺿﺎﻓﺔ ﺍﻟﻰ ﺃﻋـﻤﺎﻝ ﺍﻟﻤــﻴﺰﺍﻧﻴﺎﺕ ﺍﻟﺪﻗـﻴﻘﺔ ﻟﻨــــــﻘﺎﻁ ﺍﻟﺘﺤـــﻜﻢ ﻭﺗﻤﺪﻳﺪﺍﺕ ﺍﻟﺒﺘﺮﻭﻝ ﻭﺃﻋﻤﺎﻝ ﺍﻟﻤﺴـﺎﺣﺔ ﻓﻲ ﺍﻟﻬﻨﺪﺳﺔ ﺍﻟﻤـــﺪﻧﻴﺔ ﻣﺜﻞ : ﺍﻷﻧﻔﺎﻕ ﻭﺍﻟﻜـﺒﺎﺭﻱ   ﺑﻜﻔﺎﺀﺓ ﻣﻬﻨــﺪﺳﻴﻦ ﻭﺧﺒﺮﺍﺀ ﻭﻓﻨــﻴﻴﻦ ﺫﻭﻱ ﺧــﺒﺮﺓ ﻭﻣـﻬﺎﺭﺓ ، ﻭﺍﻹﻧﺸـﺎﺀﺍﺕ ﻋﺎﻟﻴﺔ ﻓﻲ ﻣﺠﺎﻝ ﻫﻨﺪﺳﺔ ﺍﻟﻤﺴﺎﺣﺔ . ﻭﻟﻘﺪ ﺣﺮﺻﺖ ﺍﻣـﺘﺎﺭ ﻋﻠﻰ ﺗﺄﻣـﻴﻦ ﺟــﻬﺎﺯ ﻓﻨﻲ ﻭﺇﺩﺍﺭﻱ  ﻣﻦ ﺫﻭﻱ ﺍﻟﻜـــﻔﺎﺀﺓ ﻭﺍﻟﺨﺒﺮﺓ ﺍﻟﻌﺎﻟﻴﺘﻴﻦ .
            ﻛﻤﺎ ﺗﺤﺮﺹ ﺩﺍﺋﻤﺎ ﻋﻠﻰ ﺗﻄﻮﻳﺮ ﻫﺬﺍ ﺍﻟﺠــﻬﺎﺯ ﻭﺯﻳﺎﺩﺓ ﺇﻋﺪﺍﺩﻩ ﺑﻤﺎ ﻳﻀــﻤﻦ ﻛﻤﺎ ﺗﺤﺮﺹ ﺩﺍﺋﻤﺎ ﻋﻠﻰ ﺗﻄﻮﻳﺮ ﻫﺬﺍ ﺍﻟﺠــﻬﺎﺯ ﻭﺯﻳﺎﺩﺓ ﺇﻋﺪﺍﺩﻩ ﺑﻤﺎ ﻳﻀــﻤﻦ ﻟﻬﺎ ﺑﻔﻀﻞ ﺍﷲ ﺗﺤـﻘﻴﻖ ﺃﻫﺪﺍﻓﻬﺎ ﺍﻟﺮﺋـــﻴﺴﻴﺔ ﻭﺍﻟﺘﻲ ﺗﺘﻤﺜﻞ ﻓﻲ ﺁﺩﺍﺀ ﺍﻟﻌــﻤﻞ ﺑﺎﻟﺠﻮﺩﺓ ﻭﺍﻟﺴﺮﻋﺔ ﺍﻟﻼﺯﻣﺘﻴﻦ ﻹﺭﺿﺎﺀ  ﺟﻤﻴﻊ ﻋﻤﻼﺋﻬﺎ .
            ﻭﺑﻔﻀﻞ ﺫﻟﻚ ﻳﺤﻘﻖ ﺷﻌﺎﺭ ﺍﻣﺘﺎﺭ ﻣﺼﺪﺍﻗﻴﺔ  ﺍﻟﻜﻠﻤﺔ ﻭﺍﻟﺴــﺮﻋﺔ ﻓﻲ ﺍﻹﻧــﺠﺎﺯ  .  ﻟﻴﻜﺴﺐ ﺍﻟﺴﻤﻌﺔ ﺍﻟﻄﻴﺒﺔ ﻣﻦ ﻛﺎﻓﺔ ﻋﻤﻼﺋﻪ ، ﻭﺍﻵﺩﺍﺀ ﺍﻟﻤﺘﻤﻴﺰ
        </p>



        <h5 class="title2"> الأجهزة وطرق العمل    </h5>
        <p>ﻳﺴﺘﺨﺪﻡ ﻓﺮﻳﻖ ﺃﻣﺘﺎﺭ ﺍﺣـﺪﺙ ﺍﺟﻬﺰﺓ ﺃﺍﻟﻤﺴﺢ ﺍﻟﻄﺒﻮﻏﺮﺍﻓﻲ     (TOTAL-STATION) ﺑﺎﻹﺿﺎﻓﺔ ﺍﻟﻰ ﻣﻌــﺪﺍﺕ ﺍﻟﻤﺴﺢ ﺍﻟﺠﻴﻮﺗﻜﻨﻠﻮﺟﻲ ) ﺍﻟﻘﻴﺎﺱ (.   ( LEVEL)  ( ﻭ ﺃﺟـﻬﺰﺓ ﻓــﺮﻭﻗﺎﺕ ﺍﻹﺭﺗــﻔﺎﻉ IDM) ﻣﺜﻞ ﺟﻬﺎﺯ  . ( ﻟﻠﺮﺑﻂ ﺑﺎﻷﻗﻤﺎﺭ ﺍﻹﺻﻄﻨﺎﻋﻴﺔ GPS) ﻭ ﺃﺟــﻬﺰﺓ ﻛﻤﺎ ﺗﺴﺘﺨﺪﻡ ﺍﻣﺘﺎﺭ ﺃﺣـﺪﺙ ﺑﺮﺍﻣﺞ ﺍﻟﺤﺎﺳﻮﺏ ﺍﻟﻬﻨﺪﺳﻴﺔ ﻭﺑﺮﺍﻣﺞ ﻧﻈﻢ ﻛﻤﺎ ﺗﺴﺘﺨﺪﻡ ﺍﻣﺘﺎﺭ ﺃﺣـﺪﺙ ﺑﺮﺍﻣﺞ ﺍﻟﺤﺎﺳﻮﺏ ﺍﻟﻬﻨﺪﺳﻴﺔ ﻭﺑﺮﺍﻣﺞ ﻧﻈﻢ    (AUTO LAND &AUTO CAD ) ( ﻭﺑﺮﺍﻣﺞ GIS) ﺍﻟﻤﻌﻠـــﻮﻣﺎﺕ ﺍﻟﺠـﻐﺮﺍﻓﻴﺔ </p>



        <h6 class="mt20"> أعمال المسح   </h6>
        <h4>
            1- الرفوعات المساحية بأنواعها ولجميع الأغراض.
        </h4>
        <h4>
            2- كروكيات بغرض إضافة الحدود والأبعاد والمساحة إلى الصك.
        </h4>
        <h4>
            3- كروكيات البنك الزراعى.
        </h4>
        <h4>
            4- شهادات التركيز.
        </h4>
        <h4>
            5- فرز لقطع الأراضى والبيوت.
        </h4>
        <h4>
            6- تنظيم الأراضى.
        </h4>
        <p>

        </p>

        <hr />
        <h6 class="mt20"> أعمال المساحة الهندسية   </h6>
        <p>
            ﻭﻫﻲ ﺃﻋﻤﺎﻝ ﺍﻟﻤﺴﺢ ﺍﻟﺘﻲ ﺗﺘﻢ ﻓﻲ ﺍﻟﻤﻨﺸﺌﺎﺕ ﻣﻦ ﻣﺒﺎﻧﻲ ﻭﻛــﺒﺎﺭﻱ ﻭﻫﻲ ﺗﻌﺘﺒﺮ ﻣﻦ ﺍﻟﻤﺮﺍﺣﻞ ﺍﻷﻭﻟﻴﺔ ﻓﻲ ﺍﻟﻤﻨﺸﺌـﺎﺕ ﻭﻫﻲ ﺗﺤـــﺪﻳﺪ  ﻣﻨﺴﻮﺏ ﺍﻟﻤﺒـــﻨﻰ ﻭ ﻋـــﻤﻞ ﺗﻮﻗﻴﻊ ﻧﻘﺎﻁ ﺍﻷﻋﻤﺪﺓ ﻭﺍﻟﻘﻮﺍﻋﺪ ﻋﻠﻰ ﺍﻟﻄﺒﻴﻌﺔ ﻭﺃﻋﻤﺎﻝ ﻣﻴﺰﺍﻧﻴﺎﺕ ﺍﻷﺳﻘﻒ .
        </p>
        <p>
            ﻭﺗﺸﻤﻞ ﻛﺬﻟﻚ ﺃﻋﻤﺎﻝ ﺍﻟﺼـــﺮﻑ ﺍﻟﺼﺤﻲ ﻭﻋﻤﻞ ﺍﻟﻤــﻴﺰﺍﻧﻴﺎﺕ ﻟــﻬﺎ ﻣــﻊ ﺗﺤـﺪﻳﺪ ﺍﻟﻤﺼﺒﺎﺕ ﻣﻦ ﺍﻟﻘﻨﻮﺍﺕ ﺍﻟﺮﺋﻴﺴﻴﺔ ﻭﺇﻟﻰ ﺍﻟﻔﺮﻋﻴﺔ . ﻛﺬﻟﻚ ﻣﺎﻳﺨﺺ ﺃﻋﻤﺎﻝ ﺍﻟﻤﻴﺎﻩ ﻭﺍﻟﺸﺒﻜﺎﺕ ﺣﻴﺚ ﺗﺸﻤﻞ ﺍﻟﺘﺼﻤﻴﻢ ﻭﺍﻟﺘﻨﻔﻴﺬ ﺑﺎﻹﺿﺎﻓﺔ ﺍﻟﻰ ﺃﻋﻤﺎﻝ ﺧﻄﻮﻁ ﺍﻟﺒﺘﺮﻭﻝ ﻭﺟﻤﻴﻊ ﺍﻷﻋﻤﺎﻝ ﺫﺍﺕ ﺍﻟﺼﻠﺔ .
        </p>

        <hr />
        <h6 class="mt20"> أعمال هندسة الطرق   </h6>
        <p>
            تعتبر الطرق من أهم الأعمال الهندسية التى تقدر نسبة أعمال المساحة فيها بحوالى 80 % ، لذلك قامت أمتار بإنشاء قسم خاص بأعمال الطرق من تصميم ودراسات أولية لمشاريع الطرق المختلفة داخل المدن والقرى وخارجها .
        </p>
        <p>
            كذلك الإشراف على تنفيذ الأعمال المساحية للطرق بالتنسيق مع الأمانات والبلديات بأسس ومعايير عالمية مستخدمه فى مجال هندسة الطرق .
        </p>
        <p>
            حيث تصمم الطرق على أساس كثافة الحركة المرورية وعرض الجزء المعبد (المسفلت) منها بحيث يكون استخدام الطريق على مدار العام
        </p>
        <hr />
        <h6 class="mt20"> أعمال التخطيط العمرانى  </h6>
        <p>
            تعتبر تخطيط الراضى السكنية والزراعية والتجارية بجميع أنواعها من أهم الأعمال التى تقوم بها أمتار فى مضمار التخطيط العمرانى .، كما تتولى مهمه الإشراف الهندسى المباشر على المخططات والمشاريع بكافة أنواعها والدقة المطلوبة .
        </p>
        <hr />
        <h6 class="mt20"> (GIS) ﺃﻋﻤﺎﻝ ﻧﻈﻢ ﺍﻟﻤﻌﻠﻮﻣﺎﺕ ﺍﻟﺠﻐﺮﺍﻓﻴﺔ </h6>
        <p>
            ﻧﻈﻢ ﺍﻟﻤﻌﻠﻮﻣﺎﺕ ﺍﻟﺠﻐﺮﺍﻓﻴﺔ ﻣﻦ ﺍﻷﻧﻈﻤﺔ ﺍﻟﺤﺪﻳﺜﺔ ﻭﺍﻟﺘﻲ ﺗﺴــﺘﺨﺪﻡ ﺣﺎﻟﻴﺎ ﻓـﻲ ﻣﻌــــﻈﻢ ﺍﻟﻤــــﺠﺎﻻﺕ ﺍﻟﻌﻤــﺮﺍﻧﻴﺔ ﻭﺍﻟﺘﺨﻄﻴﻄﻴﺔ ﻭﺍﻟﺘﻲ ﺗﺘﻴﺢ ﺭﺑﻂ ﺍﻟﻤﻮﻗﻊ ﺍﻟﺠﻐـﺮﺍﻓﻲ ﺍﻟﺘﺨﻄــــﻴﻄﻲ ﻟﺨـﺪﻣﺔ ﺟﻤـــﻴﻊ ﺍﻟﻤــــﺠﺎﻻﺕ ﺍﻟﻤﺨﺘﻠـــﻔﺔ  ﻭﺫﻟﻚ ﻋﻦ ﻃﺮﻳﻖ ﺭﺑﻂ ﺍﻟﺨﺮﺍﺋﻂ ﺑﻘﺎﻋﺪﺓ ﺑــــــﻴﺎﻧﺎﺕ ﻭﻣﻌـــﻠﻮﻣﺎﺕ  ﻣــﻮﺣﺪﺓ ﻣﻤﺎ ﻳﺴـــﻬﻞ ﻋﻤﻠﻴﺔ ﺍﻟﺤـﺼﻮﻝ ﻋﻠﻰ ﺍﻟﻤـــــﻌﻠﻮﻣﺎﺕ ﺑﺼــــﻮﺭﺓ ﻣﻨــﻈﻤﺔ ﻭﺁﻟـﻴﺔ ﺳـــﻬﻠﺔ ﺗﺘﻴﺢ ﻟﻸﻣــــﺎﻧﺎﺕ ﻭﺍﻟﺒﻠــــﺪﻳﺎﺕ ﺍﻟﺘﻌــــﺎﻣﻞ ﻣﻊ ﺍﻟﺨﺮﺍﺋﻂ ﻟﻤﻌﻠﻮﻣــﺎﺕ ﺍﻷﺭﺽ ﺑﺴــﻬﻮﻟﺔ ﻭﻳﺴﺮ .
        </p>
        <p>
            ولدى أمتار برامج خاصة بنظم المعلومات الجغرافية فى العمل كجهاز (GPS REAL TIME)
        </p>
        <hr />
        <h5 class="title2">   أوقات الدوام    </h5>
        <p class="mt20"> صباحا من : 8 إلى 12</p>
        <p class="mt20">مساء من : 4 إلى 9</p>
        <p class="mt20">الخميس : 8 صباحا إلى 5 عصرا</p>


        <hr />
        <h5 class="title2">   فريق العمل    </h5>

        <div class="owl-team mt20">
            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/ahmedelbahrany.PNG" alt="">

                    </div>
                    <h1>م / أحمد البحرانى</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">المدير العام </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>
            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/salman.PNG" alt="">

                    </div>
                    <h1>سلمان المجحد</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">سكرتير المدير العام </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>
            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/ali.PNG" alt="">

                    </div>
                    <h1>على المجحد</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">مدخل بيانات </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>

            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/msaeed.PNG" alt="">

                    </div>
                    <h1>م/ محمد سعيد </h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">مهندس تخطيط حضرى</p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>

            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/omar.PNG" alt="">

                    </div>
                    <h1>م عمر عبدالمجيد</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">مهندس مساحة </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>

            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/shabhaz.PNG" alt="">

                    </div>
                    <h1> م شهباز مايتين كونجو</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">مهندس مساحة </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>
            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/gobara.PNG" alt="">

                    </div>
                    <h1>م محمد جبارة</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">مهندس مساحة </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>

            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/alkair.PNG" alt="">

                    </div>
                    <h1>الخير موسى</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">محاسب عام </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>
            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/alginid.PNG" alt="">

                    </div>
                    <h1>م الجنيد عبدالله</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">مهندس تخطيط حضرى </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>

            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/abobakr.PNG" alt="">

                    </div>
                    <h1>م ابو بكر عبدالله</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">مهندس مساحة </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>
            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/abass.PNG" alt="">

                    </div>
                    <h1>سيد عباس</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">عامل تجميع أجهزة </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>

            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/kalil.PNG" alt="">

                    </div>
                    <h1>خليل الله فاكير</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">عامل تجميع أجهزة </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>
            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/shankir.PNG" alt="">

                    </div>
                    <h1>غارى شانكيز</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">عامل تجميع أجهزة </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>

            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/rangit.PNG" alt="">

                    </div>
                    <h1>رانجيت كار</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">عامل تجميع أجهزة </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>
            <div class="item">
                <div class="adv-block">
                    <div class="imgCon">
                        <img src="~/Content/external/images/dlib.PNG" alt="">

                    </div>
                    <h1>ديليب بنكلل</h1>
                    <div class="course-share">
                        <a href="#" target="_blank">  <i class="fa fa-envelope"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-facebook"></i> </a>
                        <a href="#" target="_blank">  <i class="fa fa-twitter"></i> </a>

                    </div>
                    <p class="text-center color1">عامل تجميع أجهزة </p>
                    <!--<a class="btn" href="#">اعرف المزيد</a> -->
                </div>

            </div>


        </div>




    </div>
</div>
<style>
element.style {
 top:auto;
}
       a.logo img {
        width: auto;
        height: auto;
        position: relative;
        z-index: 5;
    }
    .logo {
        position: absolute;
        float: right;
        z-index: 100;
        width: 134px;
        top: 48px;
        right: 90px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .flat-sliders-container {
        position: relative;
        padding-top: 75px;

    }
.tp-caption.description-slider {
    /* margin-left: 76px!important; */
    font-size: 35px!important;
    text-align: center;
    color: #cce6ff;
background:none;
    top: 50%;
min-width:465px;
}
.tp-caption.description-slider span {
    color: #cce6ff;
font-size: 35px;
font-family: inherit;
}
    img {
        max-width: 250px;
        height: auto;
        min-height: 147px;
    }
</style>




















