@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";

}

<header id="header">
    <div class="top-bar">
        <!--   <div class="srch">
        <button><i class="fa fa-search"></i></button>
        <input type="text" />
    </div>-->
        <!-- <div class=" country"> <a href="#"><span class="caret"></span> English </a>
    <img src="~/Content/external/images/en-flag.PNG" alt=""> </div>-->
        <ul class="top-lnks">
            <li>
                <a href="/Account/Login"> <i class="fa fa-lock"></i><span> تسجيل الدخول </span></a>
            </li>
            <li>
                <a href="/Account/SignUp"> <i class="fa fa-user"></i> <span> سجل الآن </span></a>
            </li>

        </ul>

        <ul class="top-lnks" style="float:left">
           
            <li>
                <span style="color:white">عدد الزوار</span>  
                
                <img class="statcounter"
                               src="https://c.statcounter.com/12223126/0/007b2c17/0/"
                               alt="web stats" style=" max-width: inherit; /* max-height: 10px; */ min-height: inherit; padding-right: 10px; ">
            </li>


        </ul>


        <!-- <div class="welcom-Usr"><span>مرحبا بالزائر الكريم :</span><h2> محمد على محمود</h2></div> -->
        <div class="clearfix"> </div>
    </div>
    <div class="scnd-bar" data-spy="affix" data-offset-top="42">
        <a class="logo" href="/"><img src="~/Content/external/images/AmtarF.jpg" alt="" /></a>
        <a class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <i class="fa fa-list"></i> </a>
        <nav class="navbar">
            <div class="collapse navbar-collapse pn" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><i class="fa fa-home"></i> الرئيسية</a></li>
                    <li> <a href="/about">  عن أمتار</a> </li>
                    <li><a href="howto"> كيف تستفيد عبر أمتار  <span class="other-lang"></span></a></li>
                    <li><a href="Locations"> الموقع والمكان  </a></li>
                    <li><a href="contact-us"> اتصل بنا </a></li>
                </ul>
            </div>
        </nav>

        <div class="clearfix"> </div>
    </div>
</header>

<!-- Slider -->
<div class="flat-sliders-container">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="~/Content/external/images/2.jpg" alt="slider-image" />
                    <div class="tp-caption sfl title-slide style6" data-x="center" data-y="90" data-speed="1500" data-start="1500" data-easing="Sine.easeInOut"> مرحبا بكم</div>
                    <div class="tp-caption sfr description-slider style1" data-x="center" data-y="165" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">في موقعنا الالكتروني <span class="other-lang">AmtarSvg.Com</span>  </div>
                    <a href="#" class="tp-caption sfr more" data-x="center" data-y="265" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut"> اقرأ المزيد <i class="fa fa-angle-left"></i></a>
                </li>

                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="~/Content/external/images/headerF8.jpg" alt="slider-image" />
                    <div class="tp-caption sfl title-slide style6" data-x="center" data-y="90" data-speed="1500" data-start="1500" data-easing="Sine.easeInOut"> مرحبا بكم</div>
                    <div class="tp-caption sfr description-slider style1" data-x="center" data-y="165" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">في موقعنا الالكتروني <span class="other-lang">AmtarSvg.Com</span>  </div>
                    <a href="#" class="tp-caption sfr more" data-x="center" data-y="265" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut"> اقرأ المزيد <i class="fa fa-angle-left"></i></a>
                </li>

                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="~/Content/external/images/headerF9.jpg" alt="slider-image" />
                    <div class="tp-caption sfl title-slide style6" data-x="center" data-y="90" data-speed="1500" data-start="1500" data-easing="Sine.easeInOut"> مرحبا بكم</div>
                    <div class="tp-caption sfr description-slider style1" data-x="center" data-y="165" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">في موقعنا الالكتروني <span class="other-lang">AmtarSvg.Com</span>  </div>
                    <a href="#" class="tp-caption sfr more" data-x="center" data-y="265" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut"> اقرأ المزيد <i class="fa fa-angle-left"></i></a>
                </li>

            </ul>
        </div>
    </div>
    <div class="flat-vertical social-links"> <a href="#"><i class="fa fa-pinterest-p"></i></a> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> </div>
</div>



<div class="home_banner_wrapper">
    <div class="container"  style=" padding-top: 75px;">
        <div class="title-wrapper mb40">
            <span class=" title">
                <h3> أنواع    <span>الخدمات الهندسية</span></h3>
                <span class="line">
                    <span class="box"><i></i></span>
                </span>
            </span>
        </div>

        <div class="row">
            <div class="home_banner_inner">
                <div class="home_banner_content">

                    <div class="row">
                        <div class="center col-sm-4">

                            <div class="right_nofull ">
                                <div class="banner_item small-rght">


                                    <span><img src="~/Content/external/images/featured21.jpg" alt=""></span>


                                    <div class="banner_caption">
                                        <a class="banner_title" href=""><span>اســتكشــاف </span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="right_nofull ">
                                <div class="banner_item small-rght">


                                    <span><img src="~/Content/external/images/featured31.jpg" alt=""></span>


                                    <div class="banner_caption">
                                        <a class="banner_title" href=""><span>رفـع مسـاحـى </span></a>
                                    </div>
                                </div>
                            </div>



                        </div>


                        <div class="banner_left col-sm-4">
                            <div class="banner_item big-lft">


                                <span><img src="~/Content/external/images/featured11.jpg" alt=""></span>


                                <div class="banner_caption">
                                    <a class="banner_title" href=""><span> كـروكـى مسـاحـى </span></a>
                                </div>
                            </div>
                        </div>
                        <div class="center col-sm-4">

                            <div class="right_nofull ">
                                <div class="banner_item small-rght">


                                    <span><img src="~/Content/external/images/featured41.jpg" alt=""></span>


                                    <div class="banner_caption">
                                        <a class="banner_title" href=""><span>تـخـطيـط عمـــرانى</span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="right_nofull ">
                                <div class="banner_item small-rght">


                                    <span><img src="~/Content/external/images/featured5.jpg" alt=""></span>


                                    <div class="banner_caption">
                                        <a class="banner_title" href=""><span>خـرائـط طـبوغـرافية  </span></a>
                                    </div>
                                </div>
                            </div>



                        </div>






                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="flat-row flat-imagebox index-1">

    <div class="container make-rel">
        <div class="title-wrapper mb40">
            <span class=" title">
                <h3> أهـم     <span> الـعمـلاء / الأعــمـال</span></h3>
                <span class="line">
                    <span class="box"><i></i></span>
                </span>
            </span>
        </div>

        <div class="row">
            <div class="col-md-12 pn">

                <div class="flat-carousel">
                    <div class="owl-carousel-services">
                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover">
                                    <img src="~/Content/external/images/Al-Ahsa.jpg" alt="Latest" style="width: 50%">
                                </div>
                                <h5> أمانة الإحــسـاء</h5>
                                <p>مشروع دراسة تطوير مركز مدينة الهفوف</p>
                                <p>ويشمل المشروع أعمال الرفوعات المساحية العمرانية والإقتصادية وذلك لإعادة تحسين وتطوير مركز الهفوف</p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>
                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover">
                                    <img src="~/Content/external/images/easternmunicipility.png" alt="Latest" style="width: 50%">
                                </div>
                                <h5>أمانة المنطقة الشرقية  </h5>
                                <p>مشروع تحديث بيانات العقود الإستثمارية</p>
                                <p>حرصت أمتار على التنوع والتطوير فى كافة المشاريع التى قامت بها ، ومن بينها مشروع تحديث بيانات العقود الاستثمارية الخاص بأمانة المنطقة الشرقية حيث يشمل المشروع على الرفوعات المساحية وكروكى الموقع </p>

                            </div>

                        </div>
                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover">
                                    <img src="~/Content/external/images/haraswatany.jpg" alt="Latest" style="width: 50%">
                                </div>
                                <h5>الحرس الوطنى </h5>
                                <p>الأراضى المعوضة من قبل الحرس الوطنى</p>
                                <p>
                                    رفع مساحى للأرض المعوضة من قبل الحرس الوطنى والبالغ مساحتها 1228969.45 متر مربع ، الواقعة غرب المبرز مع ربط الموقع بالمخططات المجاورة .
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>

                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover" style="width: 100%">
                                    <img src="~/Content/external/images/facultyCity.jpg" alt="Latest" style="width: 100%">
                                </div>
                                <h5>المدينة الجامعية بالاحساء </h5>
                                <p>انشاء قاعة الاحتفالات الرئيسية</p>
                                <p>
                                    قامت أمتار بالإشراف المساحى لمشروع إنشاء قاعة الأحتفالات الرئيسية بالمدينة الجامعية بالأحساء
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>

                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover" style="width: 100%">
                                    <img src="~/Content/external/images/zain.png" alt="Latest" style="width: 100%">
                                </div>
                                <h5>شركة زين للاتصالات </h5>
                                <p>حصر وتحديث بيانات الأبراج القائمة</p>
                                <p>
                                    كما تم العمل معها على استخراج التراخيص لإنشاء الأبراج على أسطح المبانى والأراضى الفضاء المستثمرة من الأمانات
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>
                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover" style="width: 100%">
                                    <img src="~/Content/external/images/mobily.png" alt="Latest" style="width: 100%">
                                </div>
                                <h5>شركة موبيلى للاتصالات </h5>
                                <p>حصر وتحديث بيانات الأبراج القائمة</p>
                                <p>
                                    كما تم العمل معها على استخراج التراخيص لإنشاء الأبراج على أسطح المبانى والأراضى الفضاء المستثمرة من الأمانات
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>
                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover" style="width: 100%">
                                    <img src="~/Content/external/images/stc.jpg" alt="Latest" style="width: 100%">
                                </div>
                                <h5>شركة الاتصالات السعودية </h5>
                                <p>حصر وتحديث بيانات الأبراج القائمة</p>
                                <p>
                                    كما تم العمل معها على استخراج التراخيص لإنشاء الأبراج على أسطح المبانى والأراضى الفضاء المستثمرة من الأمانات
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>

                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover" style="width: 70%">
                                    <img src="~/Content/external/images/tamralrafaie.png" alt="Latest" style="width: 100%">
                                </div>
                                <h5>شركة الرفايع للتمور </h5>
                                <p></p>
                                <p>
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>
                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover" style="width: 70%">
                                    <img src="~/Content/external/images/ithraa.jpeg" alt="Latest" style="width: 100%">
                                </div>
                                <h5>شركة اثراء الرياض العقارية </h5>
                                <p></p>
                                <p>
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>
                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover" style="width: 50%">
                                    <img src="~/Content/external/images/rashied.jpeg" alt="Latest" style="width: 100%">
                                </div>
                                <h5>شركة راشد سعد الراشد واولاده </h5>
                                <p></p>
                                <p>
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>
                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover" style="width: 100%">
                                    <img src="~/Content/external/images/abdelrahmanAlRashed.png" alt="Latest" style="width: 100%">
                                </div>
                                <h5>شركة راشد عبدالرحمن الراشد  </h5>
                                <p></p>
                                <p>
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>

                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover" style="width: 100%">
                                    <img src="~/Content/external/images/abdelatifGamil.jpg" alt="Latest" style="width: 100%">
                                </div>
                                <h5>شركة عبداللطيف جميلد  </h5>
                                <p></p>
                                <p>
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>
                        <div class="item-owl">
                            <div class="item">
                                <div class="entry-cover" style="width: 100%">
                                    <img src="~/Content/external/images/alzeraa.jpg" alt="Latest" style="width: 100%">
                                </div>
                                <h5>وزارة الزراعة  </h5>
                                <p></p>
                                <p>
                                </p>
                                <!--<a href="" class="btn">اقرأ المزيد </a>-->

                            </div>

                        </div>






                    </div>
                    <!--/.owl-carousel-services-v2-->
                </div>
                <!--/.flat-carousel-v2-->
            </div>
            <!--/.col-md-12-->
        </div>

        @*<div class="row">
                <div class="col-md-12 pn">

                    <div class="flat-carousel">
                        <div class="owl-carousel-services">
                            <div class="item-owl">
                                <div class="item">
                                    <div class="entry-cover">
                                        <img src="~/Content/external/images/Al-Ahsa.jpg" alt="Latest">
                                    </div>
                                    <h5> أمانة الإحــسـاء</h5>
                                    <p>مشروع دراسة تطوير مركز مدينة الهفوف</p>
                                    <p>ويشمل المشروع أعمال الرفوعات المساحية العمرانية والإقتصادية وذلك لإعادة تحسين وتطوير مركز الهفوف</p>
                                    <!--<a href="" class="btn">اقرأ المزيد </a>-->

                                </div>

                            </div>
                            <div class="item-owl">
                                <div class="item">
                                    <div class="entry-cover">
                                        <img src="~/Content/external/images/easternmunicipility.png" alt="Latest">
                                    </div>
                                    <h5>أمانة المنطقة الشرقية  </h5>
                                    <p>مشروع تحديث بيانات العقود الإستثمارية</p>
                                    <p>حرصت أمتار على التنوع والتطوير فى كافة المشاريع التى قامت بها ، ومن بينها مشروع تحديث بيانات العقود الاستثمارية الخاص بأمانة المنطقة الشرقية حيث يشمل المشروع على الرفوعات المساحية وكروكى الموقع </p>

                                </div>

                            </div>

                            <div class="item-owl">
                                <div class="item">
                                    <div class="entry-cover">
                                        <img src="~/Content/external/images/haraswatany.jpg" alt="Latest">
                                    </div>
                                    <h5>الحرس الوطنى </h5>
                                    <p>الأراضى المعوضة من قبل الحرس الوطنى</p>
                                    <p>
                                        رفع مساحى للأرض المعوضة من قبل الحرس الوطنى والبالغ مساحتها 1228969.45 متر مربع ، الواقعة غرب المبرز مع ربط الموقع بالمخططات المجاورة .
                                    </p>
                                    <!--<a href="" class="btn">اقرأ المزيد </a>-->

                                </div>

                            </div>

                            <div class="item-owl">
                                <div class="item">
                                    <div class="entry-cover" style="width: 100%">
                                        <img src="~/Content/external/images/facultyCity.jpg" alt="Latest" style="width: 100%">
                                    </div>
                                    <h5>المدينة الجامعية بالاحساء </h5>
                                    <p>انشاء قاعة الاحتفالات الرئيسية</p>
                                    <p>
                                        قامت أمتار بالإشراف المساحى لمشروع إنشاء قاعة الأحتفالات الرئيسية بالمدينة الجامعية بالأحساء
                                    </p>
                                    <!--<a href="" class="btn">اقرأ المزيد </a>-->

                                </div>

                            </div>



                        </div>
                        <!--/.owl-carousel-services-v2-->
                    </div>
                    <!--/.flat-carousel-v2-->
                </div>
                <!--/.col-md-12-->
            </div>*@



        <!--row-->
    </div>
    <!--container -->
</section>

<style>

      a.logo img {
        width: auto;
        height: auto;
        position: relative;
        z-index: 5;
    }
    .logo {
        position: absolute;
        float: right;
        z-index: 100;
        width: 134px;
        top: 48px;
        right: 90px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .flat-sliders-container {
        position: relative;
        padding-top: 81px;
    }
    img {
        max-width: 250px;
        height: auto;
        min-height: 147px;
    }
</style>


<div id="clientsBlock">
    <div class="container">
        <div class="title-wrapper mb40">
            <h3>  أهـم مـا يـمـيز      <span class="other-lang"> أمـتـار</span></h3>
            <span class="line">
                <span class="box"><i></i></span>
            </span>
        </div>

        <ul class="reasons">
            <li>
                <i class="fa fa-book"></i>

                <div>

                    <span>العـمل الممـيز</span>
                </div>
            </li>

            <li>
                <i class="fa fa-youtube-play"></i>

                <div>

                    <span>المواعيد المنضبطة</span>
                </div>
            </li>
            <li>
                <i class="fa fa-list"></i>

                <div>

                    <span>الجـودة العالية</span>
                </div>
            </li>
            <li>
                <i class="fa fa-commenting-o"></i>

                <div>

                    <span>حلقات مناقشة</span>
                </div>
            </li>
            <li>
                <i class="fa fa-certificate"></i>

                <div>

                    <span>المتابعة المستمرة</span>
                </div>
            </li>

            <!---    <li>
                            <i class="fa fa-clock-o"></i>

                            <div>

            <span>بالمواعيد</span><strong> التزام </strong>
                            </div>
                        </li>-->


        </ul>

    </div>
</div>




