@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.BI.CustomDashboards.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PMMS.BI.CustomDashboardsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>