html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(/content/brand/wee_bj.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
}
#LoginPanel .logo {
    margin: 0 auto 0px auto !important;
    width: 198px !IMPORTANT;
     height: 178px !important; 
    background: url(/Content/brand/lgo_ad.png) !important;
    /* background-size: contain !important; */
    background-repeat: no-repeat !important;
}
