@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Zone.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PMMS.Default.ZoneGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>