@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.GisLayerConnections.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PMMS.Administration.GisLayerConnectionsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>