
@{
    //ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Order.EntityPlural");
    ViewData["Title"] = "Welcome";

}

@section Head {
   
  
}






@*<h1>My Notification</h1>

    <div style="
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        margin-top: 54px;
    ">




        <table class=" table table-bordered" style="width:100%; ">
            <thead class="thead-dark">
                <tr>
                    <th>Workflow Description</th>
                    <th>Workflow Initiator</th>
                    <th>Initiate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5">
                        <br>

                        <br>

                        <br>

                        <img src="~/Content/images/notifications_blue.png" style="
        width: 228px;
    ">
                        <br>
                        <p style="font-weight:bold;padding-top:10px"> You don't have any message at inbox ..</p>
                    </td>
                </tr>



            </tbody>
        </table>

    </div>
    <div id="GridDiv"></div>*@
<div class="row">
    <div class="col-lg-12 col-xs-12" style="text-align:center">

        <img src="~/Content/images/intro.png" class="brand1" />
        <img src="~/Content/brand/bgwelcome.png" class="brand2" />

    </div>
</div>






<style>

    .k-content h4 {
        text-align: right;
        padding: 5px;
    }

    .k-input {
        padding-right: 25px !important;
    }
</style>