@model PMMS.Membership.ActivateEmailModel

<html>
<head>
    <title>اشعار بتحديث  أومر العمل</title>
</head>
<body>
    <p style="text-align:right;font-weight:bold"> مرحبا </p>

    <p style="text-align:right">تنبيه ⚠️ نوجه عناية سعادتكم بان هناك امر عمل قمتم بالمشاركة فيه وتم رفضه لاحقا من احدى الادارات المعنية   </p>

    <p style="text-align:right">للوصول الى برنامج راصف يرجي الضغط على الرابط ادناه:</p>

    <p style="text-align:right"><a href="@Model.ActivateLink">@Model.ActivateLink</a></p>

    <p style="text-align:right;color:red">
        الرجاء عدم الرد على هذه الرسالة. يتم توجيه جميع الردود إلى علبة بريد غير خاضعة للرقابة

    </p>
    <p style="text-align:right">
        شكرا,
        فريق عمل راصف

    </p>
</body>
</html>