@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Distortion.DistortionCases.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PMMS.Distortion.DistortionCasesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>