@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.EAM.AssetClass.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PMMS.EAM.AssetClassGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>