@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.UserGroups.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PMMS.Administration.UserGroupsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>