@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.AuditLog.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PMMS.Administration.AuditLogGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>