
@{
    //ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Customer.EntityPlural");
    ViewData["Title"] = "Software License";
}

@section Head {
    <link href="~/Content/CustomePagesStyle.css" rel="stylesheet" />
}

<div id="GridDiv" class="s-CityGrid s-Default-CityGrid s-DataGrid require-layout route-handler responsive-height">
    <div class="">


        <div class="grid-title">
            <div class="title-text">
                software license inforation
            </div>
        </div>

        <div class="">

            <table class=" table table-bordered" style="width:100%;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th>Item</th>
                        <th>Description</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <strong style="">1</strong>
                        </th>
                        <td>
                            <h6 style="">Licensed to</h6>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                PingSys(Only Demo)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <strong style="">2</strong>
                        </th>
                        <td>
                            License End Date
                        </td>
                        <td>
                            <div class="col-sm-12">
                                2023-09-01  (YYYY-MM-DD)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            <strong style="">3</strong>
                        </th>
                        <td>
                            Server IP
                        </td>
                        <td>
                            <div class="col-sm-12">
                                **.*.**.**.*84
                            </div>
                        </td>
                    </tr>





                    <tr>
                        <th scope="row">
                            <strong style="">4</strong>
                        </th>
                        <td>
                            Domain Name
                        </td>
                        <td>
                            <div class="col-sm-12">
                                http://pavepixel.com
                            </div>
                        </td>
                    </tr>



                    <tr>
                        <th scope="row">
                            <strong style="">5</strong>
                        </th>
                        <td>
                            License Number
                        </td>
                        <td>
                            <div class="col-sm-12">
                                B18DBDE2-4A6E-4435-9377-BACE3E80F282
                            </div>
                        </td>
                    </tr>


                </tbody>
            </table>

        </div>
        <hr>
       
    </div>

</div>



