@{
    ViewData["Title"] = "Weclome - Start";
}

<style>
        .tile-area-controls {
            position: fixed;
            right: 40px;
            top: 40px;
        }

        .tile-group {
            left: 100px;
        }

        .tile, .tile-small, .tile-sqaure, .tile-wide, .tile-large, .tile-big, .tile-super {
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }

        #charmSettings .button {
            margin: 5px;
        }

        .schemeButtons {
            /*width: 300px;*/
        }

        @@media screen and (max-width: 640px) {
            .tile-area {
                overflow-y: scroll;
            }
            .tile-area-controls {
                display: none;
            }
        }

        @@media screen and (max-width: 320px) {
            .tile-area {
                overflow-y: scroll;
            }

            .tile-area-controls {
                display: none;
            }

        }
</style>



<script>
    (function ($) {
        $.StartScreen = function () {
            var plugin = this;
            var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;

            plugin.init = function () {
                setTilesAreaSize();
                if (width > 640) addMouseWheel();
            };

            var setTilesAreaSize = function () {
                var groups = $(".tile-group");
                var tileAreaWidth = 80;
                $.each(groups, function (i, t) {
                    if (width <= 640) {
                        tileAreaWidth = width;
                    } else {
                        tileAreaWidth += $(t).outerWidth() + 80;
                    }
                });
                $(".tile-area").css({
                    width: tileAreaWidth
                });
            };

            var addMouseWheel = function () {
                $("body").mousewheel(function (event, delta, deltaX, deltaY) {
                    var page = $(document);
                    var scroll_value = delta * 50;
                    page.scrollLeft(page.scrollLeft() - scroll_value);
                    return false;
                });
            };

            plugin.init();
        }
    })(jQuery);

    $(function () {
        $.StartScreen();

        var tiles = $(".tile, .tile-small, .tile-sqaure, .tile-wide, .tile-large, .tile-big, .tile-super");

        $.each(tiles, function () {
            var tile = $(this);
            setTimeout(function () {
                tile.css({
                    opacity: 1,
                    "-webkit-transform": "scale(1)",
                    "transform": "scale(1)",
                    "-webkit-transition": ".3s",
                    "transition": ".3s"
                });
            }, Math.floor(Math.random() * 500));
        });

        $(".tile-group").animate({
            left: 0
        });
    });

    function showCharms(id) {
        var charm = $(id).data("charm");
        if (charm.element.data("opened") === true) {
            charm.close();
        } else {
            charm.open();
        }
    }

    function setSearchPlace(el) {
        var a = $(el);
        var text = a.text();
        var toggle = a.parents('label').children('.dropdown-toggle');

        toggle.text(text);
    }

    $(function () {
        var current_tile_area_scheme = localStorage.getItem('tile-area-scheme') || "tile-area-scheme-dark";
        $(".tile-area").removeClass(function (index, css) {
            return (css.match(/(^|\s)tile-area-scheme-\S+/g) || []).join(' ');
        }).addClass(current_tile_area_scheme);

        $(".schemeButtons .button").hover(
            function () {
                var b = $(this);
                var scheme = "tile-area-scheme-" + b.data('scheme');
                $(".tile-area").removeClass(function (index, css) {
                    return (css.match(/(^|\s)tile-area-scheme-\S+/g) || []).join(' ');
                }).addClass(scheme);
            },
            function () {
                $(".tile-area").removeClass(function (index, css) {
                    return (css.match(/(^|\s)tile-area-scheme-\S+/g) || []).join(' ');
                }).addClass(current_tile_area_scheme);
            }
        );

        $(".schemeButtons .button").on("click", function () {
            var b = $(this);
            var scheme = "tile-area-scheme-" + b.data('scheme');

            $(".tile-area").removeClass(function (index, css) {
                return (css.match(/(^|\s)tile-area-scheme-\S+/g) || []).join(' ');
            }).addClass(scheme);

            current_tile_area_scheme = scheme;
            localStorage.setItem('tile-area-scheme', scheme);

            showSettings();
        });
    });


  
</script>




   

    <div class="tile-area tile-area-scheme-dark fg-white" style="height: 100%; max-height: 100% !important;">
      
        <div class="tile-group double">
            <span class="tile-group-title">Quick Access</span>

            <div class="tile-container">

                <a href="#" class="tile bg-indigo fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-calendar"></span>
                    </div>
                    <span class="tile-label">Work Order</span>
                </a>

                <div class="tile bg-darkBlue fg-white" data-role="tile" >
                    <div class="tile-content iconic">
                        <span class="icon mif-envelop"></span>
                    </div>
                    <span class="tile-label">Site Surverys</span>
                </div>

                <div class="tile bg-darkBlue fg-white" data-role="tile" >
                    <div class="tile-content iconic">
                        <span class="icon mif-envelop"></span>
                    </div>
                    <span class="tile-label">Site Surverys</span>
                </div>


                <div class="tile bg-darkBlue fg-white" data-role="tile" >
                    <div class="tile-content iconic">
                        <span class="icon mif-envelop"></span>
                    </div>
                    <span class="tile-label">Site Surverys</span>
                </div>

            </div>
        </div>

        <div class="tile-group double">
            <span class="tile-group-title">Pavement Management</span>
            <div class="tile-container">
                <a href="#" class="tile bg-indigo fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-insert-template"></span>
                    </div>
                    <span class="tile-label">Data Entry</span>
                </a>

                <div class="tile bg-darkBlue fg-white" data-role="tile" >
                    <div class="tile-content iconic">
                        <span class="icon mif-magic-wand"></span>
                    </div>
                    <span class="tile-label">Import Wizard</span>
                </div>

                <div class="tile bg-darkBlue fg-white" data-role="tile" >
                    <div class="tile-content iconic">
                        <span class="icon mif-envelop"></span>
                    </div>
                    <span class="tile-label">Browser</span>
                </div>


                <div class="tile bg-darkBlue fg-white" data-role="tile" >
                    <div class="tile-content iconic">
                        <span class="icon mif-envelop"></span>
                    </div>
                    <span class="tile-label">Computations</span>
                </div>
            </div>
        </div>

        <div class="tile-group one">
            <span class="tile-group-title">Assets</span>

            <div class="tile bg-darkBlue fg-white" data-role="tile" >
                <div class="tile-content iconic">
                    <span class="icon mif-database"></span>
                </div>
                <span class="tile-label">Assets</span>
            </div>

            <div class="tile bg-darkBlue fg-white" data-role="tile" >
                <div class="tile-content iconic">
                    <span class="icon mif-envelop"></span>
                </div>
                <span class="tile-label">Engineer tools</span>
            </div>

            <div class="tile bg-darkBlue fg-white" data-role="tile" >
                <div class="tile-content iconic">
                    <span class="icon mif-cogs"></span>
                </div>
                <span class="tile-label">Config</span>
            </div>

            
           
        </div>

        <div class="tile-group double">
            <span class="tile-group-title">Business Intelligence</span>
            <div class="tile-container">

                <div class="tile-wide bg-darkBlue fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-chart-bars"></span>
                    </div>
                    <div class="tile-label">Report Center</div>
                </div>

                <div class="tile-wide bg-green fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-chart-dots"></span>
                    </div>
                    <div class="tile-label">Report Creator</div>
                </div>
            </div>
        </div>

        <div class="tile-group double">
            <span class="tile-group-title">Control Panel</span>
            <div class="tile-container">
                <div class="tile bg-teal fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-security"></span>
                    </div>
                    <span class="tile-label">User Management</span>
                </div>
                <div class="tile bg-darkGreen fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-wrench"></span>
                    </div>
                    <span class="tile-label">Roles</span>
                </div>
                <div class="tile bg-cyan fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-folder-upload"></span>
                    </div>
                    <div class="tile-label">Work Flow Stages</div>
                </div>
                <div class="tile bg-darkBlue fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-folder-upload"></span>
                    </div>
                    <span class="tile-label">Work Flow User Type</span>
                </div>
            </div>
        </div>
    </div>
