
@{
    /**/

    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

<h4>Dashboard</h4>

<div>

    <iframe height="800px" style="width:100%" src="https://app.powerbi.com/view?r=eyJrIjoiZWM4MDljM2UtOTlhZi00MjdiLWI0NTAtMmQ3MWRmOGFlN2RiIiwidCI6ImUwYjllYmQ4LTZkNDgtNDM2Mi05MTUyLTY5ZWQzNTAxOTc5ZCIsImMiOjl9"></iframe>
</div>