@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.EAM.AssetSubCategory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PMMS.EAM.AssetSubCategoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>