@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Distortion.ContentHub.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PMMS.Distortion.ContentHubGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>