@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.EAM.AssetsTotalCalc.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PMMS.EAM.AssetsTotalCalcGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>